@{
    ViewBag.Title = "savePanel";
}

<html>
<body background="~/Resources/export-map-share.png" style="background-repeat:no-repeat; background-size:cover; padding:0; margin:0" id="bgImg">
    <canvas id="myCanvas" style="border:0.5px solid black"></></canvas>
</body>
</html>

<script>
    var cnvs = document.getElementById("myCanvas");

    cnvs.style.position = "absolute";
    cnvs.setAttribute('width', img.clientWidth);
    cnvs.setAttribute('height', window.innerHeight - 26);

    var ctx = cnvs.getContext("2d");

    var latGlobal = 0;
    var longGlobal = 0;
    var prevLat = null;
    var prevLong = null;
    var takeOff = 0;

    var DEFAULT_DRAWING_COLOR = "#FF0000";

    function drawStartingPositionPoint(longNormalized, latTmpized)
    {
        ctx.beginPath();
        ctx.arc(longNormalized, latTmpized, 10, 0, 2 * Math.PI);
        ctx.stroke();
        ctx.fillStyle = DEFAULT_DRAWING_COLOR;
        ctx.fill();
    }

    function drawRouteLine(prevLong, prevLat, longNormalized, latTmpized) {
        ctx.beginPath();
        ctx.fillStyle = DEFAULT_DRAWING_COLOR;
        ctx.moveTo(prevLong, prevLat);
        ctx.lineTo(longNormalized, latTmpized);
        ctx.strokeStyle = DEFAULT_DRAWING_COLOR;
        ctx.stroke();
    }

    function saveToXml() {
        $.post("@Url.Action("SaveToXML")").done(function (xml) {
            var xmlDoc = $.parseXML(xml);

            $xml = $(xmlDoc);
            longGlobal = $xml.find("Long").text();
            latGlobal = $xml.find("Lat").text();

            var longTmp = (parseFloat(longLoaded) + 180) * (window.innerWidth / 360);
            var latTmp = (parseFloat(latLoaded) + 90) * (window.innerHeight / 180);

            if (takeOff == 0) {
                drawPoint(longTmp, latTmp);
                prevLong = longTmp;
                prevLat = latTmp;

                // took off -> set bool to true
                takeoff = 1;
            } else {
                drawLine(prevLong, prevLat, longTmp, latTmp);
                prevLong = longTmp;
                prevLat = latTmp;

            }
        });

    }

    function draw() {
        // Local Variables
        var IntervalTime = @Session["time"] * 1000;
        var interval = setInterval(myTimer, IntervalTime);

        timoutVar = setTimeout(function () {
            clearInterval(interval)
        }, @Session["timeout"]* 1000);

        // save
        saveToXml();
    }

    draw();
</script>